.banner {
  margin: 1.5rem auto;
  border-radius: 0px 10px 10px 0px;
  padding: 0.8em 1em;
  line-height: 1.2;
  text-align: center;
  position: relative;
  clear: both;
  max-width: 500px;
}

.info {
  border-left: 4px solid #b4aaff;
  background-color: rgba(224, 226, 255, 0.5);
  color: #2a2135;
}

.danger {
  border-left: 4px solid #ff7828;
  background-color: rgb(253, 236, 234);
}

.congrats {
  border-left: 4px solid #72bc23;
  background-color: rgb(249, 253, 234);
}

.documentation {
  border-left: 4px solid #44a9ba;
  background-color: rgb(234, 248, 253);
}

.before {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  left: -1.2rem;
  border-radius: 50%;
  align-items: center;
  top: -0.8rem;
}
